header,footer{
  background-color: gray;
  text-align: center;
  padding: 20px;
}
.project{
  width: 600px;
  background-color: darkkhaki;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.main{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}